body {
    background: url("../IMAGES/bg5.jpg");
    background-repeat: no-repeat;
    /* background-position: right top; */
    background-attachment: fixed;
    
}



/* Begin Navbar */
.navbar {
  width: 100%;
  background: #f6e7cbc7;
  z-index: 2;
}

.inner-menu {
margin: auto;
width: 1170px;
} 

.inner-menu ul {
  margin: 0;
  padding:0;
  list-style: none;
  text-align: center; 
}

.inner-menu ul li {
float: none;
display: inline-block;
} 

.inner-menu ul li a {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
}

.inner-menu ul li a:hover {
  color: purple;
}

.inner-menu img {
  width: 145px;
  height: 100px;
}

.btn-group{
  margin:auto;
  margin-left: 3%;
}
.btn {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
.btn {
  margin: auto;
  display: inline-block;
  position: relative;
  padding: 20px;
  top: 0;
  font-size: 15px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border:black;
  background: rgb(206, 177, 14);
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

 .btn:hover {
   color: black;
  top: -10px;
  background-color: orange;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
 
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
          
}

.btn:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgb(216, 238, 156);
}

/* Begin cards */
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-title {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-left: 10%;
    
    
}
.card-body{

  width: 300px;
  word-wrap: break-word;
  float: left;
}
.list-group{
  padding-top:3%;
  display: inline-block;
}
/* .btn-primary{
    /* margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-left: 33%;
} */

/* scroll up the page arrow */
#scrollUp {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #F90;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
}

.material-icons {
    padding: 6.5px;
}

#scrollUp:active {
    background: #000;
}

#getResultDiv{
  padding-top: 20px;
}