.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

    .card-title {
        /* margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        margin-left: 33%; */
    }
    .btn-primary{
        /* margin: 0 auto;
        float: none;
        margin-bottom: 10px;
        margin-left: 33%; */
    }
