 *{
  box-sizing: border-box;
} 
body {
  overflow-x: hidden;
    margin: 0;
    padding: 0;
    background:rgb(238, 234, 224);
    font-family: sans-serif;
    height: 100vh;
    background-attachment: fixed;
  }

  /* bootstrap carousel */
  .carousel {
    width: 100vh;
    max-height: 100vh;
    margin: auto;
    margin-top: 12%;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* login box */
  .login-box, .register-box {
    width: 320px;
    height: 420px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
  }
  .login-box {
    padding: 70px 30px;
  }
  .register-box {
    padding: 50px 30px;
  }

  .login-box h1,.register-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label,.register-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input,.register-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"],
  .register-box input[type="text"], .register-box input[type="password"],
  .register-box input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"],.register-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover,.register-box input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a,.register-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover,.register-box a:hover {
    color: #fff;
  }


.navbar {
  background: rgb(241, 170, 38);
}

.inner-menu {
margin: 0 auto;
width: 1170px;
} 

.inner-menu ul {
  margin: 0;
  padding:0;
  list-style: none;
  text-align: center; 
}

.inner-menu ul li {
float: none;
display: inline-block;
}

.inner-menu ul li a {
  color: rgb(255, 248, 248);
  font-size: 20px;
  text-transform: uppercase;
  display: block;
  padding: 10px 20px;
}

/* .inner-menu ul li:nth-child(1) {
  float: left;
}

.inner-menu ul li:nth-child(2) {
  float: left;
}

.inner-menu ul li:nth-child(3) {
  float: left;
} */




.inner-menu ul li a:hover {
  color: #4056A1;
}

#main-menu {
  position: relative; 
 
}

.card {
  background: rgb(255, 255, 255);
  float: left;
  color: #1b1407;
}

h2 {
  padding: 20px;
  color: rgb(10, 13, 26);
}




