 *{
  box-sizing: border-box;
} 
body {
  overflow-x: hidden;
    margin: 0;
    padding: 0;
    background:rgba(248, 248, 246, 0.945);
    font-family: sans-serif;
    height: 100vh;
   
  }

  /* bootstrap carousel */
  .carousel-item {
    height: 100vh;
    z-index: 1; 
  }

  .carousel {
    /* top: 20%; */
    overflow: hidden;
  }
  .login-section {
    background-image: url(images/fred-crandon-fulpvaLUX3A-unsplash.jpg);
    background-size: cover;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  
  /* login box */
  .login-box, .register-box {
    width: 320px;
    height: 420px;
    color: #fff;
  }
  
  .login-box {
    padding: 70px 30px;
  }
  .register-box {
    padding: 50px 30px;
  }

  .login-box h1,.register-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label,.register-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input,.register-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"],
  .register-box input[type="text"], .register-box input[type="password"],
  .register-box input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"],.register-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover,.register-box input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a,.register-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover,.register-box a:hover {
    color: #fff;
  }
 


/* Begin post page cards */
.card {
  background: rgba(255, 255, 255, 0.959);
  float: left;
  color: #1b1407fd;
  padding: 0px;
  margin-bottom: 10px;
}

/* collapse button */

.col-mt-3 {
  text-align: center;
}

.infoText {
  padding: 7px;
}

.center-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.116);
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

span {
  z-index: 999;
  height: 3px;
  margin:1px;
  width: 10px;
  background: rgb(221, 161, 49);
  transition: 0.4s ease;
}

span:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 20%;
  bottom: 35%;
}

span:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 40%;
  bottom: 35%;
}

span:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 20%;
  bottom: 60%;
}

span:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 40%;
  bottom: 60%;
}

.round:hover span:nth-child(1) {
  transform: rotate(-135deg);
} 

.round:hover span:nth-child(2) {
  transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
  transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
  transform: rotate(-225deg);
} */



/* heading on post page */

.container1{
  padding-top: 40px;
}
 h2 {
  color: rgb(245, 243, 239);
}

.rating {
    /* float:left; */
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}
/* scroll up the page arrow */
#scrollUp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #F90;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #FFF;
  border: none;
  outline: none;
  cursor: pointer;
}

.material-icons {
  padding: 6.5px;
}

#scrollUp:active {
  background: #000;
}